deploy/packages/com.trumpton.base.contactmanager/data/
deploy/packages/com.trumpton.base.contactmanager/meta/package.xml
deploy/packages/com.trumpton.base.easynotepad/data/
deploy/packages/com.trumpton.base.easynotepad/meta/package.xml
deploy/packages/com.trumpton.base.encpad/meta/package.xml
deploy/packages/com.trumpton.base.encryptfolder/meta/package.xml
deploy/packages/com.trumpton.base.googlefetch/meta/package.xml
deploy/packages/com.trumpton.base.keybackup/meta/package.xml
deploy/packages/com.trumpton.base.parseweb/meta/package.xml
deploy/packages/com.trumpton.base/data/
ContactManager
EasyNotepad
EncPad
EncryptFolder
GoogleFetch
KeyBackup
Lib
ParseWeb
EasyList
build
bin
repository
buildvars.inc
